.choose-us {
    @include flex(column,center,center);
    background-color: $background-blue;
    padding: 60px 0 30px 0;
    width: 100%;
    .choose-us-header {
        color: white;
        width: 40%;
        text-align: center;
        h2.choose-us-title {
            @include titles();
            color: white;
        }
        p {
            @include subtitles();
            color: white;
        }
    }
    .choose-us-cards-container {
        @include flex(space-around,center);
        flex-wrap: wrap;
        width: 100%;
        margin: 30px 0 30px;
    }
    .choose-us-info {
        @include flex(row,space-around,center);
        width: 80%;
        margin-top: 50px;
        .choose-us-details {
            text-align: center;
            .statistics {
                font-family: $font-titles;
                font-size: 48px;
                font-weight: bold;
                color: #fff;
            }
            p {
                color: #cce5ff;
                font-family: $font-titles;
                font-size: 16px;
                margin: 0 0 20px 0;
            }
        }
    }
}
@media (max-width:1000px) {
    .choose-us {
        height: 1600px;
        .choose-us-header {
            width: 90%;
            margin-top: -80px;
            p {
                margin: 0 0 20px 0;
            }
        }
        .choose-us-cards-container {
            @include flex (column,center,center);
            margin-top: 10px;
        }
        .choose-us-info {
            margin: 10px 0 50px 0;
            width: 90%;
            flex-wrap: wrap;
            .choose-us-details {
                width: 40%;
            }
        }
    }
}
@media (max-width:770px) {
    .choose-us {
        height: 1700px;
        .choose-us-header {
            margin-top: 30px;
        }
    }
}
