.clients {
    @include flex(column,center,center);
    width: 100%;
    height: 100%;
    background: $background-light;
    .clients-header {
        margin-top: 50px;
        width: 50%;
        text-align: center;
        h3 {
            @include titles();
        }
        p {
            @include subtitles();
            width: 85%;
        }
    }
    .clients-container {
        @include flex(row,center,center);
        width: 80%;
        flex-wrap: wrap;
        box-sizing: content-box;
        margin-bottom: 50px;
        .client {
            @include flex(row,center,center);
            box-sizing: border-box;
            width: 25%;
            height: 160px;
            background: #fff;
            border: 1px solid #d6eaff;
            img {
                width: 170px;
                transition: 0.4s ease-in-out;
            }
            &:hover img {
                transform: scale(1.2);
            }
        }
    }
}
@media (max-width:1000px) {
    .clients {
        .clients-header {
            width: 90%;
            p {
                width: 100%;
            }
        }
        .clients-container {
            width: 90%;
            .client {
                img {
                    width: 100px;
                }
            }
        }
    }
}
@media (max-width:770px) {
    .clients {
        height: 1800px;
        .clients-header {
            margin-top: 0;
        }
        .clients-container {
            .client {
                width: 100%;
                img {
                    width: 180px;
                }
            }
        }
    }
}