.our-portfolio {
    padding: 50px 0 50px 0;
    background: #fff;
    .portfolio-container {
        @include flex(column,center,center);
        width: 100%;
        .portfolio-header {
            h3 {
                @include titles();
                margin-top: 30px;
            }
        }
        ul.portfolio-filter-options {
            @include flex (row,space-around,center);
            width: 20%;
            list-style: none;
            li {
                font-family: $font-paragraph;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                background: #ecf5ff;
                color: #007bff;
                cursor: pointer;
                margin: 15px 15px 15px 15px;
                padding: 6px 20px;
                border-radius: 50px;
                text-transform: uppercase;
                margin-bottom: 5px;
                transition: 0.3s ease-in-out;
                &:hover {
                    background: #007bff;
                    color: #fff;
                }
            }
            li.filter-active {
                background: #007bff;
                color: #fff;
            }
        }
        .portfolio-cards-container {
            @include flex(row,center,center);
            flex-wrap: wrap;
            width: 95%;
        }
    }
}
@media (max-width:1000px) {
    .portfolio-cards-container {
        @include flex(column,center,center);
        width: 90%;
        .portfolio-card {
            width: 700px;
            .img-portfolio-container {
                width: 700px;
                img {
                    object-fit: cover;
                }
            }
            .portfolio-card-info, .card-hover-background {
                width: 700px;
            }
        }
    }
}
@media (max-width:800px) {
    .portfolio-container {
        width: 100%;
        ul.portfolio-filter-options {
            @include flex (row,space-evenly,center);
        }
        .portfolio-cards-container {
            @include flex(column,center,center);
            width: 90%;
            .portfolio-card {
                width: 600px;
                .img-portfolio-container {
                    width: 600px;
                }
                .portfolio-card-info, .card-hover-background {
                    width: 600px;
                }
            }
        }
    }
}
@media (max-width:770px) {
    .our-portfolio {
        width: 100%;
        .portfolio-container {
            @include flex(column,center,center);
            ul.portfolio-filter-options {
                @include flex (row,space-around,center);
                li {
                    margin: 2px;
                }
            }
            .portfolio-cards-container {
                @include flex(column,center,center);
                width: 90%;
                .portfolio-card {
                    width: 300px;
                    .img-portfolio-container {
                        width: 300px;
                    }
                    .portfolio-card-info, .card-hover-background {
                        width: 300px;
                    }
                }
            }
        }
    }
}