//Variables de Fuentes
$font-paragraph: 'Open Sans', sans-serif;
$font-titles: 'Montserrat', sans-serif;


//Variables de colores
$nav-color: #1445b3;
$nav-color-hover: #007bff;
$background-blue:  #1445b3;
$background-light: #ecf5ff;
$background-dark: #00458f;

//Variables de tamaños:
$font-size-secondary: 15px;

//Box shadow
$box-shadow-nav: 0px -3px 11px 5px rgba(157, 153, 153, 0.1);

